# Dependencies
node_modules/
yarn.lock

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Allure
allure-results/
allure-report/

# Environment
.env
.env.local

# TypeScript
dist/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Reports
reports/screenshots/
reports/traces/
reports/videos/
reports/*.log
